html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
}


.half-pane {
    border-radius: 2px;
    margin-bottom: 20px;

    width: 100%;
    height: 600px;
    cursor: text;
    box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
    box-sizing: border-box;
}

.btn-round {
    border-radius: 50%;
    border: 0;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none !important;
}

.refresh {
    width: 3.5rem;
    height: 3.5rem;
}

.flat-button {
    border: 0;
    width: 4rem;
    height: 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0, .16), 0 3px 6px rgba(0,0,0, .23);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none !important;
}

.header-panel {
    background-color: #7CB342;
    height: 50px;
    position: relative;
    padding: 0.5rem;
    box-sizing: border-box;
}

.shadow-z2 {
    box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
}

.form-control {
    color: rgba(255, 255, 255, 0.84);
    height: 32px;
    outline: none;
    padding: 0 1rem;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    font-size: 100%;
}

.dropdownjs {
    position: relative;
}

.dropdownjs > ul {
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s ease-out;
    padding: 10px;
    overflow: auto;
    position: absolute;
    margin: 0;
    min-width: 200px;
    z-index: 10000;
}

.dropdownjs > ul[placement=bottom-left] {
    transform-origin: top left;
    top: 0;
    left: 0;
}

.dropdownjs > ul > li.selected,
.dropdownjs > ul > li:active {
    background-color: #eaeaea;
}

.dropdownjs > ul > li {
    cursor: pointer;
    list-style: none;
    padding: 10px 20px;
}

.dropdownjs * {
    box-sizing: border-box;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.5%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%;
	}
}