body {
    background: #F1F8E9;
}

.half-pane {
    background: #fff;
}

.btn-round {
    background: #7CB342;
}

.flat-button {
    background: #fff;
}

.refresh {
    background: #7CB342 url(ic_refresh_white_18dp.png) no-repeat center;
}

.CodeMirror-gutters {
    background-color: #DCEDC8;
}

.CodeMirror-linenumber {
    color: #999;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: white; /* The little square between H and V scrollbars */
}

.CodeMirror {
    background: white;
    color: black;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid black;
}